li {
  list-style: none;
}
a {
  text-decoration: none;
  color: blue;
}
img {
  object-fit: cover;
  width: 100%;
  height: auto;
  max-height: 90vh;
}
body {
  margin: 0;
  margin-top: 130px;
  padding: 1rem;
  text-align: center;
  font-family: "Century Gothic", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  min-height: 80vh;
  background-color: rgb(205, 205, 205);
  box-shadow: inset 2px 2px 20px black;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-align: center;
  margin: 0;
  padding: 0;
}
